<!DOCTYPE html>
<html lang=ja ng-app="SC Player">
<head>
    <meta charset="utf-8">
    <title>SC Player</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="banner">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-music"></span> SC Player</a>
    </nav>

    <div class="container">
        <div class = "sc-widget">
            <iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url="></iframe>
        </div>
        <!-- player(play list&button) -->
        <div id="player" ng-controller="player">
            <ul class="playlist clearfix" ui-sortable ng-model="trackList">
                <li ng-repeat="track in trackList track by $index" ng-class="{active: isActive($index)}" class="clearfix">
                    <span class="artwork"><img src="{{track.artwork_url}}" ng-show="track.artwork_url" width=30px /></span>
                    <span class="track" ng-click="trackSelect($index)">{{track.user.username}}<br /><strong>{{track.title}}</strong></span>
                    <span class="button"><button class="btn btn-default" ng-click="removeTrack($index)"><span class="glyphicon glyphicon-remove"></span></button></span>
                </li>
            </ul>
            <div class = "controll-button">
                <button class="btn btn-default" ng-click="play()">Play</button>
                <button class="btn btn-default" ng-click="stop()">Stop</button>
                <button class="btn btn-default" ng-click="next()">Next</button>
                <button class="btn btn-default" ng-click="prev()">Prev</button>
            </div>
        </div>

        <!-- search & add tracks -->
        <div id="searcher" ng-controller="searcher">
            <div class="search-form clearfix">
                <form novalidate class="search-form-input" role="form" ng-submit="searchTracks()">
                    <div class="input-group">
                        <label class="sr-only" for="input-keyword">keyword</label>
                        <input type="text" name="keyword" id="input-keyword" class="form-control" placeholder="keyword" ng-model="keyword"/>
                        <div class="input-group-btn dropdown">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> {{searchMode}}</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                            <li><a ng-click="searchMode = 'Track'">Search Track</a></li>
                                <li><a ng-click="searchMode = 'PlayList'">Search Playlist</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class = "search-result clearfix">
                <ul class="result-list">
                <li id="search-track-{{$index}}" ng-repeat="track in searchTrackResults track by $index" class="clearfix">
                    <div class = "clearfix">
                        <span class="artwork"><img src="{{track.artwork_url}}" width=30px /></span>
                        <span class="track">{{track.user.username}}</span><br /><strong>{{track.title}}</strong></td>
                        <span class="button"><button class="btn btn-default" ng-click="addTrack(track)"><span class="glyphicon glyphicon-plus"></span></button></span>
                    </div>
                    <li id="search-playlist-{{$index}}" ng-repeat="playlist in searchPlaylistResults track by $index" class="clearfix">
                    <div class = "clearfix">
                        <span class="artwork"><img src="{{playlist.artwork_url}}" ng-show="playlist.artwork_url" /></span>
                        <span class="track">{{playlist.user.username}}<br /><strong>{{playlist.title}}</strong></span>
                        <span class="button"><button class="btn btn-default" ng-click="addPlaylist(playlist)"><span class="glyphicon glyphicon-asterisk"></span></button></span>
                    </div>
                    <ul>
                        <li id="search-track-{{$index}}" ng-repeat="track in playlist.tracks track by $index">
                        <div class = "clearfix">
                            <span class="artwork"></span>
                            <span class="track"><strong>{{track.title}}</strong></span>
                            <span class="button"><button class="btn btn-default" ng-click="addTrack(track)"><span class="glyphicon glyphicon-plus"></span></button></span>
                        </div>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

    <!--
    <div class="text-area">
        <textarea class="console" wrap="off"></textarea>
    </div>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
    <script src="https://connect.soundcloud.com/sdk.js"></script>
    <script src="assets/js/soundcloud-player-api.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>
