body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

iframe {
    display:block;
    border:0;
}

h1 {
    font-weight: normal;
    text-align: center;
}

.player {
    widht: 1000px;
    height: 250px;
}

.sc-widget {
    float: left;
    width: 470px;
    height: 250px;
}

.sc-widget iframe {
    width: 100%;
    height: 100%;
}

.playlist{
    overflow-y:scroll;
    overflow-x:hidden;
    float: left;
    width: 470px;
    height: 250px;
}

.playlist li.active{
    background : #f2f2f2;
}

.playlist span.artwork {
	float: left;
    width : 40px;
	padding: 5px;
}

.playlist span.track {
    float: left;
    width : 200px;
	margin-left: 50px;
	padding: 5px;
}

.playlist span.button {
	float: right;
	padding: 5px;
}

.playlist span.test {
    float: left;
    width : 200px;
	margin-left: 50px;
	padding: 5px;
    background: #f2f2f2;
}

.controll-button {
    float: left;
    width : 470px;
    height : 50px;
    background: #f2f2f2;
}

.controll-button button {
    margin-top : 8px;
}

.search-form {
    float: left;
    width : 470px;
    height : 50px;
    background: #f2f2f2;
}

.search-form form {
    width : 400px;
    height : 50px;
    margin-top : 8px;
    margin-left :20px;
}

.search-result {
    width: 1000px;
    height: 250px;

}

.result-list {
    width:  940px;
    height: 240px;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-top : 10px;
}

.result-list span.artwork {
	float: left;
    width : 40px;
	padding: 5px;
}

.result-list span.track {
    float: left;
    width : 400px;
	margin-left: 50px;
	padding: 5px;
}

.result-list span.button {
	float: right;
	padding: 5px;
}


textarea {
    display: block;
    height: 314px;
    width: 100%;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Monaco", "Courier New", monospace;
    font-size: 12px;
    white-space: nowrap;
    color: #FF9D00;
    background-color: #002240;
    border: transparent;
    overflow-x: hidden;
    overflow-y: auto;
}
